<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>요약 페이지</title>
<!--    <link type="text/css" rel="stylesheet" href="mainStyle.css">-->
    	<!-- CSS --> <link href="{{ url_for('static', filename='mainStyle.css') }}" rel="stylesheet"> <!-- JS -->

</head>



<body>

<span id = "video">
    <a> {{movie_title}} 강의 </a>
    <iframe width="100%" height="500" src={{movie_url}} title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</span>

<span id = "capture">
    <p>코드 추출 돌아갈 부분</p>
    <img src = "codeSample.JPG">
</span>

<span id = "summary">
    <h3>
       요약본
        {{sum_text}}
    </h3>
</span>

<span id = "keywords">
    <p>Lorem</p>
    <p>ipsum</p>
    <p>dolor</p>
    <p>sit</p>
    <p>amet</p>
    <p>consectetur</p>
</span>

<span id = "whole_text">
<h3>전문 텍스트
    {{text_all}}
</h3>
</span>

<span id = "quiz">
    <h3>
        빈칸문제 생성 자바스크립트? 파이썬? <br>
        오늘 시험의 결과는 [_________] 이다
    </h3>
</span>

</body>

</html>